config/.env
.env
**/venv/

sources/var/cache/*
sources/var/logs/*
sources/img/tmp/*
sources/img/p/**/
sources/img/c/*
!sources/**/.env

!/**/.gitkeep

# tools/data/products/images
# tools/data/*.zip

data/*xml/

importer/*.json

__pycache__/

data/*.sql
!data/dump.sql
!sources/**/*.sql

config/ssl/certs/*

*.bak
!./source/**/*.bak
