.env
**/venv/

!.gitkeep

prestashop/var/cache/*
prestashop/var/logs/*
prestashop/img/tmp/*
prestashop/img/p/**/
!prestashop/**/.env

# tools/data/products/images
# tools/data/*.zip
tools/data/*xml/

tools/dataloader/*.json

__pycache__/

*.sql
!dump.sql
!prestashop/**/*.sql

ssl/certs/*
