config/.env
.env
**/venv/

!.gitkeep

sources/var/cache/*
sources/var/logs/*
sources/img/tmp/*
sources/img/p/**/
!sources/**/.env

# tools/data/products/images
# tools/data/*.zip

data/*xml/

importer/*.json

__pycache__/

data/*.sql
!data/dump.sql
!sources/**/*.sql

config/ssl/certs/*
